[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "PPbigdata"]
	path = PPbigdata
	url = https://github.com/cran/PPbigdata
[submodule "twopartm"]
	path = twopartm
	url = https://github.com/cran/twopartm
